<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Home</title>
</head>
<body>
    <div id="bg"></div>
    <div id="container">
        <div id="container-navigation">
            <h2 id="nav-item">Dartagnan Sams</h2>
            <ul id="nav-item">
                <li><button><a href="/templates/index.html">Home</a></button></li>
                <li><button><a href="/templates/resume.html">Resume</a></button></li>
                <li><button><a href="/templates/projects.html">Projects</a></button></li>
            </ul>
        </div>
    
        <div id="header">
            <h1>About</h1>
        </div>
        <hr>
        <div id="container-body">
            <div id="left-body">
                <p id="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, autem corporis! Tempora incidunt nulla doloremque corrupti quisquam, at eveniet, ullam totam impedit ipsum iure officiis obcaecati necessitatibus numquam enim id, ea nesciunt maxime architecto et doloribus! Odit nihil, amet vel, corporis nam in sapiente asperiores libero quis incidunt sed modi.
                </p>
                <div id="container-socials">
                    <h2>Socials</h2>
                    <div id="social-items">
                        <ul>
                            <li><a href="https://www.linkedin.com/in/dartsams/" target="_blank"><img src="../static/linkedin-icon.svg" alt="LinkedIn" id="social-img"></a></li>
                            <li><a href="https://github.com/DartSams" target="_blank"><img src="../static/github-icon-1.svg" alt="Github"id="social-img"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div><img src="/static/image.jpg" alt="portrait" id="portrait"></div>
        </div>
    </div>
</body>
</html>