<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="../static/projects.css">
</head>
<body>
    <div id="bg"></div>
    <div id="container">
        <div id="container-navigation">
            <h2 id="nav-item">Dartagnan Sams</h2>
            <ul id="nav-item">
                <li><button><a href="/templates/index.html">Home</a></button></li>
                <li><button><a href="/templates/resume.html">Resume</a></button></li>
                <li><button><a href="/templates/projects.html">Projects</a></button></li>
            </ul>
        </div>
    
        <div id="header">
            <h1>Projects</h1>
        </div>
        <hr>

        <div id="container-body">
            <ul>
                <li><a href=""><video src="../static/assets/clip.mp4" controls></video></a></li>
                <li><a href=""><video src="../static/assets/clip.mp4" controls></video></a></li>
                <li><a href=""><video src="../static/assets/clip.mp4" controls></video></a></li>
                <li><a href=""><video src="../static/assets/clip.mp4" controls></video></a></li>
            </ul>
        </div>

    </div>
</body>
</html>