<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dartagnan Resume</title>
    <link rel="stylesheet" href="../static/resume.css">
</head>
<body>
    <dv id="bg"></dv>
    <div id="container">
        <div id="container-navigation">
            <h2 id="nav-item">Dartagnan Sams</h2>
            <ul id="nav-item">
                <li><button><a href="/templates/index.html">Home</a></button></li>
                <li><button><a href="/templates/resume.html">Resume</a></button></li>
                <li><button><a href="/templates/projects.html">Projects</a></button></li>
            </ul>
        </div>

        <div id="container-body">
            <div id="pdfRenderer"></div>
            <iframe src="../static/assets/Software Resume.pdf" frameborder="0"v width="700" height="600"></iframe>
        </div>
    </div>
</body>
</html>